/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de cores para o modo escuro */
@layer base {
  :root {
    --color-primary: #007BFF; /* Azul principal */
    --color-secondary: #66B2FF; /* Variante de azul */
    --color-background: #121212; /* Fundo escuro */
    --color-surface: #1E1E1E; /* Superfícies escuras */
    --color-text: #F8F9FA; /* Texto claro */
    --color-text-secondary: #BDBDBD; /* Texto secundário */
    --color-card-background: #1E1E1E; /* Fundo dos cards */
    --color-card-text: #F8F9FA; /* Texto dos cards */
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }

  a {
    color: var(--color-primary);
    transition: color 0.3s;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
  }

  p {
    color: var(--color-text-secondary);
  }
}

@layer components {
  /* Botões */
  .btn {
    @apply px-4 py-2 rounded font-medium transition-colors duration-300;
    background-color: var(--color-primary);
    color: #FFFFFF;
  }

  .btn:hover {
    background-color: var(--color-secondary);
  }

  /* Cards */
  .card {
    @apply p-4 rounded-lg shadow-md;
    background-color: var(--color-card-background);
    color: var(--color-card-text);
    transition: background-color 0.3s, color 0.3s;
  }
}
